body{
    margin: 0;
}

/* header */
header{
    height: 374px;
    position: relative;
    z-index: 0;
    img{
        object-fit: cover;
        overflow: hidden;
        width: 100%;
        height: 100%;
        object-position: 0px -40px;
    }
}


/* container de contact et coordonnées */
.grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    z-index: 1;
    margin: 40px auto;
    width: 60%;
    min-width: 830px;
    max-width: 960px;


}

/* contenair de formulaire */
.contact-container{
    box-shadow: 0px 4px 28px  #1c86a62c;
    padding: 8px 30px;
    border-radius: 8px;
    translate: 0px -115px;
    background-color: rgb(255, 255, 255); 
}

.Big-Title{
    font-weight: 700;
    font-size: 34px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: uppercase;
}

.small-description{
    font-weight: 300;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 180%;
}

form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;

    input[type=text]{
        border: none;
        border-bottom: 1px solid #D0D0D0;
    }
    label{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 180%;
    }
}

form > div{
    display: grid;
    grid-template-columns: 1fr;
}

/* input prenant toute la place */
.all-lign{
    grid-column: span 2;
}

/* input prenant la moitié de la place */

.divided{
    grid-column: span 1;
}


/* Button vert Envoyer */
.addButton{
    border-radius: 44px;
    color: white;
    font-size: 24px;
    line-height: 120%;
    text-transform: uppercase;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #9DD129;
    border: none;
    justify-self: center;
    cursor: pointer;
    margin-bottom: 20px;
    padding:15px 30px;
}

/* contenair de la checkbox et du texte */
.conditions-box{
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 20px;
    
}

.conditions{
    font-weight: 300;
    font-size: 14px;
    line-height: 180%;
    font-family: Arial, Helvetica, sans-serif;
}
.conditions-checkbox{
    -webkit-appearance: none;
    border:1px solid #9DD129;
    border-radius: 2px;
    width: 18px;
    height: 18px;
    outline-color: #9DD129;
    align-self: center;
    position: relative;
    place-content: center;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.conditions-checkbox::before{
    content: "";
    position: absolute;
    background-color: white;
    border-radius: 2px;
    width: 11px;
    height: 11px;
    outline-color: #9DD129;
    top: 50%;
    left: 50%;
    translate: -50% -50%;  
}
.conditions-checkbox:checked::before{
    background-color: #9DD129;
}


/* contenaire du button switch */
.switch-container{
    display: flex;
    flex-direction:row;
    gap: 30px;
    cursor: pointer;
    padding: 4px 20px;
    div{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        line-height: 180%;
        padding:8 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 9px;


    }
    background-color: #EFEFEF;
    border-radius: 20px;
    width: fit-content;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

.switch-green{
    background-color: #9DD129;
    width: 50%;
    height: 100%;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    border-radius: 20px;
    transition: .3s all linear;
}

.crapaud, .grenouille{
    position: relative;
    z-index: 3;
    color: rgb(0, 0, 0);
    transition: .3s all linear ;
    
}

.white{
    color: white;
}

.checked{
    left : 50%;
}
/* contenair des coordonnées */
.info-container{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 230%;
    font-weight: 300;
    & > a{
        color: black;
    }
    
}
/* contenaire des logo sociaux */
.socials-container{
    display: flex;
    gap: 16px;
    i{
        display: inline-block;
        font-size: 24px;
        color: black;
        cursor: pointer;
    }
}

/* Responsive */
@media screen and (max-width:900px) {
    .grid-container{
        grid-template-columns: 1fr;
        translate: 0px 0px;
        min-width: 0px;
    }
    .contact-container{
        translate: 0px 0px; 
    }
    .divided{
        grid-column: span 2;
    }
    
    
}

@media screen and (max-width:1365px) and (min-width:900px) {
    .grid-container{
        width: 80%;
    }  
}

@media screen and (max-width:643px) {
    .grid-container{
        width: 90%;
    }  
}